whisper==1.1.10
numpy==1.26.4
torch==2.2.1
ctranslate2==4.3.0
faster-whisper==0.10.0
librosa==0.10.1
vaderSentiment==3.3.2
requests==2.32.3
ofxparse==0.21
qifparse==0.3.5
piecash==1.1.0
plotly==5.22.0
networkx==3.3
nltk==3.8.1
PyYAML==6.0.1
jsonschema==4.21.1
pyaudio
webrtcvad
pynput
colorama
